@media (min-width: 38rem) {

header {
    grid-template-columns: 70px 1fr auto;
}

header img {
    width: auto;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

header h1 {
    font-size: 1.7rem;
}

.navigation {
    display: flex;
    justify-content: center;
}

#menu {
    display: none;
}

.navigation ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    width: 100%;
}

.navigation a {
    color: var(--primary-color);
    text-decoration: none;
    border: none;
    font-size: 1.5rem;
}

.current {
    border-bottom: solid 1px var(--primary-color);
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    padding: 2rem;
    border-bottom: solid 1px var(--primary-color);
    background-color: var(--primary-color);
}

button {
    cursor: pointer;
    height: 55px;
}

.buttons img {
    display: block;
    width: 40px
}

}